<div>
    <h2 data-translate="questProvaApp.schemaAnswer.home.title">Schema Answers</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="schema-answer.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="questProvaApp.schemaAnswer.home.createLabel">
                        Create new Schema Answer
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="creationDate"><span data-translate="questProvaApp.schemaAnswer.creationDate">Creation Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="completionDate"><span data-translate="questProvaApp.schemaAnswer.completionDate">Completion Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="flagComplete"><span data-translate="questProvaApp.schemaAnswer.flagComplete">Flag Complete</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="schema1.id"><span data-translate="questProvaApp.schemaAnswer.schema1">Schema 1</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="person.id"><span data-translate="questProvaApp.schemaAnswer.person">Person</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="schemaAnswer in vm.schemaAnswers track by schemaAnswer.id">
                    <td><a ui-sref="schema-answer-detail({id:schemaAnswer.id})">{{schemaAnswer.id}}</a></td>
                    <td>{{schemaAnswer.creationDate | date:'medium'}}</td>
                    <td>{{schemaAnswer.completionDate | date:'medium'}}</td>
                    <td>{{schemaAnswer.flagComplete}}</td>
                    <td>
                        <a ui-sref="schema-1-detail({id:schemaAnswer.schema1.id})">{{schemaAnswer.schema1.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="person-detail({id:schemaAnswer.person.id})">{{schemaAnswer.person.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="schema-answer-detail({id:schemaAnswer.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="schema-answer.edit({id:schemaAnswer.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="schema-answer.delete({id:schemaAnswer.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
